html
  head
    title utilities
    script(src='build/build.js')
    link(rel='stylesheet', href='build/build.css')

    :stylus
      body
        padding: 50px

  h1 utilities

  :coffeescript
    console.log 'Testing utilities'
